/*
 * Button mixin- creates 3d-ish button effect with correct
 * highlights/shadows, based on a base color.
 */
html {
  background: #f1f1f1; }

/* Links */
a {
  color: #0074a2; }
  a:hover, a:active, a:focus {
    color: #0099d5; }

#media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover {
  color: #0099d5; }

/* Forms */
input[type=checkbox]:checked:before {
  color: #738e96; }

input[type=radio]:checked:before {
  background: #738e96; }

.gp-core-ui input[type="reset"]:hover, .gp-core-ui input[type="reset"]:active {
  color: #0099d5; }

/* Core UI */
.gp-core-ui .button-primary {
  background: #9ebaa0;
  border-color: #80a583;
  color: white;
  -webkit-box-shadow: inset 0 1px 0 #cbdacc, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #cbdacc, 0 1px 0 rgba(0, 0, 0, 0.15); }
  .gp-core-ui .button-primary:hover, .gp-core-ui .button-primary:focus {
    background: #8faf91;
    border-color: #719a74;
    color: white;
    -webkit-box-shadow: inset 0 1px 0 #bccfbd;
    box-shadow: inset 0 1px 0 #bccfbd; }
  .gp-core-ui .button-primary:focus {
    -webkit-box-shadow: inset 0 1px 0 #bccfbd, 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
    box-shadow: inset 0 1px 0 #bccfbd, 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8); }
  .gp-core-ui .button-primary:active {
    background: #80a583;
    border-color: #719a74;
    color: white;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
    box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8); }
  .gp-core-ui .button-primary[disabled], .gp-core-ui .button-primary:disabled, .gp-core-ui .button-primary.button-primary-disabled, .gp-core-ui .button-primary.disabled {
    color: #c7d1c8 !important;
    background: #86a989 !important;
    border-color: #719a74 !important;
    text-shadow: none !important; }
.gp-core-ui .gp-ui-primary {
  color: #fff;
  background-color: #738e96; }
.gp-core-ui .gp-ui-text-primary {
  color: #738e96; }
.gp-core-ui .gp-ui-highlight {
  color: #fff;
  background-color: #9ebaa0; }
.gp-core-ui .gp-ui-text-highlight {
  color: #9ebaa0; }
.gp-core-ui .gp-ui-notification {
  color: #fff;
  background-color: #aa9d88; }
.gp-core-ui .gp-ui-text-notification {
  color: #aa9d88; }
.gp-core-ui .gp-ui-text-icon {
  color: #f2fcff; }

/* List tables */
.wrap .add-new-h2:hover, #add-new-comment a:hover, .tablenav .tablenav-pages a:hover, .tablenav .tablenav-pages a:focus {
  color: #fff;
  background-color: #738e96; }

.view-switch a.current:before {
  color: #738e96; }

.view-switch a:hover:before {
  color: #aa9d88; }

.post-com-count:hover:after {
  border-top-color: #738e96; }

.post-com-count:hover span {
  color: #fff;
  background-color: #738e96; }

strong .post-com-count:after {
  border-top-color: #aa9d88; }

strong .post-com-count span {
  background-color: #aa9d88; }

/* Admin Menu */
#adminmenuback, #adminmenuwrap, #adminmenu {
  background: #738e96; }

#adminmenu a {
  color: #fff; }

#adminmenu div.gp-menu-image:before {
  color: #f2fcff; }

#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
  color: #fff;
  background-color: #9ebaa0; }

#adminmenu li.menu-top:hover div.gp-menu-image:before, #adminmenu li.opensub > a.menu-top div.gp-menu-image:before {
  color: #fff; }

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active, .nav-tab-active, .nav-tab-active:hover {
  background-color: #f1f1f1;
  border-bottom-color: #f1f1f1; }

/* Admin Menu: submenu */
#adminmenu .gp-submenu, #adminmenu .gp-has-current-submenu .gp-submenu, #adminmenu .gp-has-current-submenu.opensub .gp-submenu, .folded #adminmenu .gp-has-current-submenu .gp-submenu, #adminmenu a.gp-has-current-submenu:focus + .gp-submenu {
  background: #627c83; }

#adminmenu li.gp-has-submenu.gp-not-current-submenu.opensub:hover:after {
  border-right-color: #627c83; }

#adminmenu .gp-submenu .gp-submenu-head {
  color: #d5dddf; }

#adminmenu .gp-submenu a, #adminmenu .gp-has-current-submenu .gp-submenu a, .folded #adminmenu .gp-has-current-submenu .gp-submenu a, #adminmenu a.gp-has-current-submenu:focus + .gp-submenu a, #adminmenu .gp-has-current-submenu.opensub .gp-submenu a {
  color: #d5dddf; }
  #adminmenu .gp-submenu a:focus, #adminmenu .gp-submenu a:hover, #adminmenu .gp-has-current-submenu .gp-submenu a:focus, #adminmenu .gp-has-current-submenu .gp-submenu a:hover, .folded #adminmenu .gp-has-current-submenu .gp-submenu a:focus, .folded #adminmenu .gp-has-current-submenu .gp-submenu a:hover, #adminmenu a.gp-has-current-submenu:focus + .gp-submenu a:focus, #adminmenu a.gp-has-current-submenu:focus + .gp-submenu a:hover, #adminmenu .gp-has-current-submenu.opensub .gp-submenu a:focus, #adminmenu .gp-has-current-submenu.opensub .gp-submenu a:hover {
    color: #9ebaa0; }

/* Admin Menu: current */
#adminmenu .gp-submenu li.current a, #adminmenu a.gp-has-current-submenu:focus + .gp-submenu li.current a, #adminmenu .gp-has-current-submenu.opensub .gp-submenu li.current a {
  color: #fff; }
  #adminmenu .gp-submenu li.current a:hover, #adminmenu .gp-submenu li.current a:focus, #adminmenu a.gp-has-current-submenu:focus + .gp-submenu li.current a:hover, #adminmenu a.gp-has-current-submenu:focus + .gp-submenu li.current a:focus, #adminmenu .gp-has-current-submenu.opensub .gp-submenu li.current a:hover, #adminmenu .gp-has-current-submenu.opensub .gp-submenu li.current a:focus {
    color: #9ebaa0; }

ul#adminmenu a.gp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after {
  border-right-color: #f1f1f1; }

#adminmenu li.current a.menu-top, #adminmenu li.gp-has-current-submenu a.gp-has-current-submenu, #adminmenu li.gp-has-current-submenu .gp-submenu .gp-submenu-head, .folded #adminmenu li.current.menu-top {
  color: #fff;
  background: #9ebaa0; }

#adminmenu li.gp-has-current-submenu div.gp-menu-image:before {
  color: #fff; }

/* Admin Menu: bubble */
#adminmenu .awaiting-mod, #adminmenu .update-plugins {
  color: #fff;
  background: #aa9d88; }

#adminmenu li.current a .awaiting-mod, #adminmenu li a.gp-has-current-submenu .update-plugins, #adminmenu li:hover a .awaiting-mod, #adminmenu li.menu-top:hover > a .update-plugins {
  color: #fff;
  background: #627c83; }

/* Admin Menu: collapse button */
#collapse-menu {
  color: #f2fcff; }

#collapse-menu:hover {
  color: #fff; }

#collapse-button div:after {
  color: #f2fcff; }

#collapse-menu:hover #collapse-button div:after {
  color: #fff; }

/* Admin Bar */
#gpadminbar {
  color: #fff;
  background: #738e96; }

#gpadminbar .ab-item, #gpadminbar a.ab-item, #gpadminbar > #gp-toolbar span.ab-label, #gpadminbar > #gp-toolbar span.noticon {
  color: #fff; }

#gpadminbar .ab-icon, #gpadminbar .ab-icon:before, #gpadminbar .ab-item:before, #gpadminbar .ab-item:after {
  color: #f2fcff; }

#gpadminbar .ab-top-menu > li:hover > .ab-item, #gpadminbar .ab-top-menu > li.hover > .ab-item, #gpadminbar .ab-top-menu > li > .ab-item:focus, #gpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #gpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item, #gpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #9ebaa0;
  background: #627c83; }

#gpadminbar > #gp-toolbar li:hover span.ab-label, #gpadminbar > #gp-toolbar li.hover span.ab-label, #gpadminbar > #gp-toolbar a:focus span.ab-label {
  color: #9ebaa0; }

#gpadminbar li:hover .ab-icon:before, #gpadminbar li:hover .ab-item:before, #gpadminbar li:hover .ab-item:after, #gpadminbar li:hover #adminbarsearch:before {
  color: #fff; }

/* Admin Bar: submenu */
#gpadminbar .menupop .ab-sub-wrapper {
  background: #627c83; }

#gpadminbar .quicklinks .menupop ul.ab-sub-secondary, #gpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #8f9a9e; }

#gpadminbar .ab-submenu .ab-item, #gpadminbar .quicklinks .menupop ul li a, #gpadminbar .quicklinks .menupop.hover ul li a, #gpadminbar-nojs .quicklinks .menupop:hover ul li a {
  color: #d5dddf; }

#gpadminbar .quicklinks li .blavatar, #gpadminbar .menupop .menupop > .ab-item:before {
  color: #f2fcff; }

#gpadminbar .quicklinks .menupop ul li a:hover, #gpadminbar .quicklinks .menupop ul li a:focus, #gpadminbar .quicklinks .menupop ul li a:hover strong, #gpadminbar .quicklinks .menupop ul li a:focus strong, #gpadminbar .quicklinks .menupop.hover ul li a:hover, #gpadminbar .quicklinks .menupop.hover ul li a:focus, #gpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #gpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #gpadminbar li:hover .ab-icon:before, #gpadminbar li:hover .ab-item:before, #gpadminbar li a:focus .ab-icon:before, #gpadminbar li .ab-item:focus:before, #gpadminbar li.hover .ab-icon:before, #gpadminbar li.hover .ab-item:before, #gpadminbar li:hover .ab-item:after, #gpadminbar li.hover .ab-item:after, #gpadminbar li:hover #adminbarsearch:before {
  color: #9ebaa0; }

#gpadminbar .quicklinks li a:hover .blavatar, #gpadminbar .menupop .menupop > .ab-item:hover:before {
  color: #9ebaa0; }

/* Admin Bar: search */
#gpadminbar #adminbarsearch:before {
  color: #f2fcff; }

#gpadminbar > #gp-toolbar > #gp-admin-bar-top-secondary > #gp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #fff;
  background: #879ea5; }

#gpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7; }

#gpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
  color: #fff;
  opacity: 0.7; }

#gpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
  color: #fff;
  opacity: 0.7; }

#gpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.7; }

/* Admin Bar: my account */
#gpadminbar .quicklinks li#gp-admin-bar-my-account.with-avatar > a img {
  border-color: #879ea5;
  background-color: #879ea5; }

#gpadminbar #gp-admin-bar-user-info .display-name {
  color: #fff; }

#gpadminbar #gp-admin-bar-user-info a:hover .display-name {
  color: #9ebaa0; }

#gpadminbar #gp-admin-bar-user-info .username {
  color: #d5dddf; }

/* Pointers */
.gp-pointer .gp-pointer-content h3 {
  background-color: #9ebaa0;
  border-color: #8faf91; }

.gp-pointer .gp-pointer-content h3:before {
  color: #9ebaa0; }

.gp-pointer.gp-pointer-top .gp-pointer-arrow, .gp-pointer.gp-pointer-top .gp-pointer-arrow-inner, .gp-pointer.gp-pointer-undefined .gp-pointer-arrow, .gp-pointer.gp-pointer-undefined .gp-pointer-arrow-inner {
  border-bottom-color: #9ebaa0; }

/* Media */
.media-item .bar, .media-progress-bar div {
  background-color: #9ebaa0; }

.details.attachment {
  -webkit-box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #9ebaa0;
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #9ebaa0; }

.attachment.details .check {
  background-color: #9ebaa0;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #9ebaa0;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #9ebaa0; }

.media-selection .attachment.selection.details .thumbnail {
  -webkit-box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #9ebaa0;
  box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #9ebaa0; }

/* Themes */
.theme-browser .theme.active .theme-name, .theme-browser .theme.add-new-theme a:hover:after, .theme-browser .theme.add-new-theme a:focus:after {
  background: #9ebaa0; }

.theme-browser .theme.add-new-theme a:hover span:after, .theme-browser .theme.add-new-theme a:focus span:after {
  color: #9ebaa0; }

.theme-section.current, .theme-filter.current {
  border-bottom-color: #738e96; }

body.more-filters-opened .more-filters {
  color: #fff;
  background-color: #738e96; }

body.more-filters-opened .more-filters:before {
  color: #fff; }

body.more-filters-opened .more-filters:hover, body.more-filters-opened .more-filters:focus {
  background-color: #9ebaa0;
  color: #fff; }

body.more-filters-opened .more-filters:hover:before, body.more-filters-opened .more-filters:focus:before {
  color: #fff; }

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
  background-color: #9ebaa0;
  color: #fff; }

.widgets-chooser li.widgets-chooser-selected:before, .widgets-chooser li.widgets-chooser-selected:focus:before {
  color: #fff; }

/* Customize */
#customize-theme-controls .widget-area-select .selected {
  background-color: #9ebaa0;
  color: #fff; }

/* jQuery UI Slider */
.gp-slider .ui-slider-handle, .gp-slider .ui-slider-handle.ui-state-hover, .gp-slider .ui-slider-handle.focus {
  background: #9ebaa0;
  border-color: #80a583;
  -webkit-box-shadow: inset 0 1px 0 #cbdacc, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #cbdacc, 0 1px 0 rgba(0, 0, 0, 0.15); }

/* Responsive Component */
div#gp-responsive-toggle a:before {
  color: #f2fcff; }

.gp-responsive-open div#gp-responsive-toggle a {
  border-color: transparent;
  background: #9ebaa0; }

.gp-responsive-open #gpadminbar #gp-admin-bar-menu-toggle a {
  background: #627c83; }
